/* background image */
body {
  background-image:url(../images/starwars-stars.jpeg);
  /* position: fixed; */
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

/*styling weekday bottons */
.weekday-btn{
  background-color:#ffe81f;
  font-size: 23px;
  font-family: 'Titillium Web', sans-serif;
  padding: 14px 40px;
  width: 100%;
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* hover for weekday bottons */
.weekday-btn:hover {
  background-color: #ffe81f;
  color: white;
  transition: all .3s ease-in-out;
  box-shadow: 0 10px 20px 0 rgba(255, 254, 254, 0.945), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* styling for title image */
.title {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

/* title image */
.title img {
  width: 250px;
}

/* styling for daily schedule */
.daily-schedule {
  border: #FFE81F 4px solid;
  border-radius: 30px;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  height:600px;
  overflow-y: scroll;
  overflow-x:hidden;
}

/* styling for scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* styling for current day */
.current-day {
  font-size: 23px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
}

/* styling for today's date */
.today {
  background-color: #FFE81F;
  color: black;
  border-radius: 20px;
  height:fit-content;
  padding: 0;
}

/* styling for hours in daily schedule */
.hour {
  background-color: black;
  color: white;
  border: 1px dashed #000000;
  text-align: center;
  padding-right: 0;
  font-size: 20px;
}

/* styling for description text area in daily schedule */
.description{
  white-space: pre-wrap;
  font-size: 22px;
  font-family: 'Titillium Web', sans-serif;
}

/* styling for save button in daily schedule */
.saveBtn {
  background-color: silver;
  border: 1px solid black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  width: 95%;
  padding: 5px; 
  margin: 0px;
  text-align: center;
  cursor: pointer;
}

/* styling for the text in the save botton */
.saveBtn p {
  margin-bottom: 0px;
  color: black;
}

/* hover for the text in the save botton*/
.saveBtn p:hover{
  color: #ffe81f;
  transition: all .3s ease-in-out;
}

/* styling for icon in the save botton  */
.saveIcon {
  width: 40px;
  color: #ffe81f;
}

/* styling for quote */
.quote {
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
  margin-top: 150px;
  margin-right: 20px;
  font-size: 25px;
  padding-left: 25px;
  box-shadow: 0px 4px #ffe81f, 0 0 2em white;
  border-radius: 15px;
}

.day-of-forecast{
  box-shadow: 0 0 2em white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.418);
  margin: -200;
}

.hidden {
  visibility: hidden;
}

.day-of-week{
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
