body {
  background-image:url(../images/starwars-stars.jpeg);
  background-size: auto;
}
.weekday-btn{
  background-color:#ffe81f;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 40px;
  border-radius: 2px;
  width: 230px;
  border: 1px solid black;
  margin: 15px;
  position: relative;
  top:50px;
  left:30px;
}
.weekday-btn:hover {
  background-color: #ffe81f;
  color: white;
  transition: all .3s ease-in-out;
  box-shadow: 0 10px 20px 0 rgba(255, 254, 254, 0.945), 0 17px 50px 0 rgba(0,0,0,0.19);
}